<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>EzyRent</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSContactsUsageDescription</key>
	<string>To access your contact list for auto fiel tenant information</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>UIAppFonts</key>
	<array>
		<string>MONTSERRAT-BLACK_0.TTF</string>
		<string>MONTSERRAT-BLACKITALIC_0.TTF</string>
		<string>MONTSERRAT-BOLD.TTF</string>
		<string>MONTSERRAT-BOLDITALIC_0.TTF</string>
		<string>MONTSERRAT-EXTRABOLD_0.TTF</string>
		<string>MONTSERRAT-EXTRABOLDITALIC_0.TTF</string>
		<string>MONTSERRAT-EXTRALIGHT_0.TTF</string>
		<string>MONTSERRAT-EXTRALIGHTITALIC_0.TTF</string>
		<string>MONTSERRAT-ITALIC_0.TTF</string>
		<string>MONTSERRAT-LIGHT_0.TTF</string>
		<string>MONTSERRAT-LIGHTITALIC_0.TTF</string>
		<string>MONTSERRAT-MEDIUM_0.TTF</string>
		<string>MONTSERRAT-MEDIUMITALIC_0.TTF</string>
		<string>MONTSERRAT-REGULAR.TTF</string>
		<string>MONTSERRAT-SEMIBOLD_0.TTF</string>
		<string>MONTSERRAT-SEMIBOLDITALIC_0.TTF</string>
		<string>MONTSERRAT-THIN_0.TTF</string>
		<string>MONTSERRAT-THINITALIC_0.TTF</string>
		<string>OXYGEN-BOLD.TTF</string>
		<string>OXYGEN-LIGHT.TTF</string>
		<string>OXYGEN-REGULAR.TTF</string>
		<string>Oxygen-Bold.ttf</string>
		<string>Oxygen-Light.ttf</string>
		<string>Oxygen-Regular.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-BlackItalic.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-BoldItalic.ttf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-ExtraBoldItalic.ttf</string>
		<string>Montserrat-ExtraLight.ttf</string>
		<string>Montserrat-ExtraLightItalic.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-LightItalic.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-MediumItalic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-SemiBold.ttf</string>
		<string>Montserrat-SemiBoldItalic.ttf</string>
		<string>Montserrat-Thin.ttf</string>
		<string>Montserrat-ThinItalic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
